<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team02.boma">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_boma"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_boma"
        android:supportsRtl="true"
        android:theme="@style/Theme.BOMA">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeBackActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UpdateProfileActivity"
            android:parentActivityName=".WelcomeBackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WelcomeBackActivity" />
        </activity>
        <activity
            android:name=".SaveNewInfoActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".BMIResultsActivity" />
        <activity android:name=".MainActivity">

        </activity>

        <receiver android:name=".NotifyService" />
    </application>

</manifest>